body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
}
.navbar-light {
    background-color: #e3f2fd;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 1080px;
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
section .alert {
    margin: auto;
    border-radius: 8px;
}
.sect-home form {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sect-home label {
    margin: auto;
    padding-left: 10px;
}
.sect-home form input {
    border: 1px solid lightgrey;
    border-radius: .25rem;
    width: calc(100% - 220px);
}
.sect-home form button {
    margin-left: 10px;
    width: 85px;
}
.sect-home h2 {
    margin: 0 20px;
    font-size: 1.5rem;
}
.articles {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.article {
    margin: 10px 0;
}
.img-item {
    margin-right: 12px;
    float: left;
    width: 300px;
}
.title {
    text-decoration: underline ;
    color: #ff0000;
}

.btn-add-flux {
    margin: 20px auto;
}
.fluxs {
    display: flex;
    justify-content: space-around;
}
.img-flux {
    margin: 10px;
    width: 300px;
}
