body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
}
.navbar-light {
    background-color: #e3f2fd;
}
.navbar-light a:first-child {
    padding-bottom: 5px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 1080px;
}
/***** Debut Sections *****/
section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
section .alert {
    margin: auto;
    border-radius: 8px;
}
section form {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
section label {
    margin: auto;
    padding-left: 10px;
    width: 175px;
}
section form input {
    border: 1px solid lightgrey;
    border-radius: .25rem;
    width: 100%;
}
section form button {
    margin-left: 10px;
}
section h2 {
    font-size: 1.5rem;
}
/*** Debut Section Feeds ***/
.sect-feeds {
    align-items: center;
}
.fluxs {
    width: 80%;
}
.flux {
    margin: 10px 6px 10px 15px;
    display: flex;
}
.flux h2 {
    width: 100%;
}
.flux .btn {
    margin-left: 5px;
}
.sect-feed h2 {
    padding: 0 20px;
}
.articles {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.article {
    margin: 10px 0;
}
.img-item {
    margin-right: 12px;
    float: left;
    width: 300px;
}
.title {
    text-decoration: underline ;
    color: #ff0000;
}
/*** Fin Section Feed ***/
/*** Debut Section Articles ***/
.sect-articles .article {
    display: flex;
    justify-content: space-between;
}
.sect-articles .article p:first-child {
    margin-bottom: inherit;
}
.sect-articles .article div {
    width: 100%;
}
.sect-articles .article .description {
    padding-right: 5px;
}
.sect-articles .article .trash {
    align-self: center;
}
/*** Fin Section Articles ***/
/*** Debut Section Choix de suppression ***/
.sect-del_choice {
    width: 60%;
}
.sect-del_choice .take-care {
    color: red;
}
.sect-del_choice form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sect-del_choice form p {
    display: flex;
    justify-content: space-around;
}
.sect-del_choice form p:last-child {
    margin: 15px 0;
}
/*** Fin Section Choix de suppression ***/
/*** Debut Section Valid ***/
.sect-valid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sect-valid form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect-valid form button {
    margin: inherit;
}
.sect-valid form p:last-child {
    margin: 15px 0;
}
/*** Fin Section Valid ***/
/***** Fin Sections *****/
